.navBar {
  justify-items: right;
  text-align: right;
  height: 50px;
  padding-right: 20px;
}

.navLink {
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: monospace;
  cursor: pointer;
  display: inline-flex;
  transition-duration: 0.2s;
}

.navLink:visited {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  padding: 10px;
  text-transform: uppercase;
  font-family: monospace;
  cursor: pointer;
  transition-duration: 0.2s;
}

.navLink:hover {
  transition-property: all;
  transition-duration: 0.2s;
  padding: 0.2rem;
  text-decoration: none;
  color: #e2dad6;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: monospace;
  cursor: pointer;
}

.navLink:active {
  transition-property: all;
  transition-duration: 0.2s;
  padding: 0.2rem;
  text-decoration: none;
  color: #e2dad6;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: monospace;
  cursor: pointer;
}
