/*----------------------------------General------------------------------------*/
/* button,
input {
  cursor: pointer;
} */
/* abbr {
  cursor: pointer;
} */
/* div {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-block;
} */

.modal-content {
  justify-content: center;
}
.boxyWH {
  display: inline-block;
  text-align: justify;
  /* border: solid rgb(209, 208, 208) 2px; */
  background: rgb(242, 255, 251);
  background-repeat: no-repeat;
  background-attachment: local;
  padding: 10px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}
.boxyWH:hover {
  display: inline-block;
  text-align: justify;
  border: solid #9ec8b9 3px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  transition: 300ms;
  box-shadow: 10px 10px #e4e4e4;
}
.boxyBK {
  display: inline-block;
  background: #5c8374;
  background-repeat: no-repeat;
  color: white;
  text-align: justify;
  padding: 10px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}
.boxyBK:hover {
  display: inline-block;
  transition: 300ms;
  color: white;
  text-align: justify;
  border: solid #1b4242 3px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px #bfbfbf;
}
/*----------------------------------Digital clock----------------------------------*/
.digitalClockDiv {
  border: solid black;
  padding: 20px;
  min-width: 100px;
  display: grid;
  grid-column: 1;
}

.dateDiv {
  font-size: 30px;
}
.timeDiv {
  font-size: 40px;
}

.clockTitle {
  /* background-color: black; */
  color: #ef5350;
  font-size: 50px;
}
/*----------------------------------Comment----------------------------------*/
.commentDiv {
  border: solid black;
  padding: 20px;
  display: block;
}

.cmtTitle {
  font-size: 25px;
}
.commentInputDiv {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
}
.commentInputForm {
  display: block;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: auto;
}
/* .commentInputTable {
  width: auto;
} */
.ratingSelect {
}
.commentBefore {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.commentInputTable {
  text-align: left;
}

.leaveCommentBtn {
  margin: 10px;
  border: solid black 2px;
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  font-size: 20px;
  color: black;
}
.leaveCommentBtn:hover {
  margin: 10px;
  border: solid black;
  background-color: black;
  border-radius: 5px;
  padding: 8px;
  font-size: 21px;
  transition: 300ms;
  color: white;
  box-shadow: grey 5px 5px;
}
.commentAfter {
  justify-content: center;
}
.commentAfter:hover {
  justify-content: center;
}
/*----------------------------------Dice Roller----------------------------------*/

.diceRollerDiv {
  border: solid black;
  padding: 20px;
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.dice {
  border: solid white;
  border-radius: 5px;
  box-shadow: 5px 5px rgb(94, 94, 94);
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 30px;
  color: white(4, 35, 238);
  background-color: rgb(9, 8, 8);
  cursor: default;
}
.dice:hover {
  border: solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 5px 5px rgb(89, 89, 89);
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 40px;
  color: black;
  transition: 300ms;
  background-color: rgb(255, 255, 255);
  cursor: default;
}

.rollingMsg {
  font-size: 20px;
}

/* .diceOdd {
  border: solid white;
  border-radius: 5px;
  box-shadow: 5, 5, 5;
  display: inline-block;
  width: 50px;
  height: 50px;
  justify-self: center;
  text-align: center;
  align-content: center;
  margin: 10px;
  font-size: 25px;
  padding: 5px;
  color: rgb(4, 35, 238);
  background-color: rgb(227, 223, 223);
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
} */
/* .diceEven {
  border: solid white;
  border-radius: 5px;
  box-shadow: 5, 5, 5;
  display: inline-block;
  width: 50px;
  height: 50px;
  justify-self: center;
  text-align: center;
  align-content: center;
  margin: 10px;
  font-size: 25px;
  padding: 5px;
  color: rgb(250, 8, 8);
  background-color: rgb(227, 223, 223);
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
} */

.dieCounter {
  border-radius: 5px;
  display: inline-block;
  font-size: 35px;
  height: 60px;
  width: 60px;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: black;
  color: white;
  border: white;
  border: solid rgb(191, 191, 191);
}
.dieCounter:hover {
  border-radius: 5px;
  display: inline-block;
  font-size: 40px;
  height: 65px;
  width: 65px;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  color: #ef5350;
  border: solid rgb(0, 0, 0);
  transition: 300ms;
  cursor: default;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}

.diceCounterDiv {
  /* display: flex; */
  /* align-items: flex-start; */
  height: auto;
}
.diceCounterDiv:hover {
  /* display: flex; */
  /* align-items: flex-start; */
  height: auto;
}
.lessBtn {
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  color: black;
  border: solid rgb(0, 0, 0) 2px;
  margin: 10px;
  padding: 10px;
}
.lessBtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border: solid rgb(255, 255, 255) 2px;
  transition: 300ms;
  font-size: 20px;
  margin: 10px;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}
.moreBtn {
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  color: black;
  border: solid rgb(0, 0, 0) 2px;
  margin: 10px;
  padding: 10px;
}
.moreBtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  border: solid rgb(255, 255, 255) 2px;
  transition: 300ms;
  font-size: 20px;
  margin: 10px;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}

.restartDRBtn {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  color: black;
  border: solid rgb(0, 0, 0) 2px;
  margin: 10px;
  padding: 10px;
}
.restartDRBtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  border: solid rgb(255, 255, 255);
  transition: 300ms;
  font-size: px;
  margin: 10px;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}
.rollDRBtn {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  color: black;
  border: solid rgb(232, 100, 39);
  margin: 10px;
  padding: 10px;
}
.rollDRBtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: #ffffff;
  border: solid rgb(255, 255, 255);
  transition: 300ms;
  font-size: 20px;
  margin: 10px;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}
/*----------------------------------Number Guessing----------------------------------*/
.numGuessTitle {
  font-size: 30px;
}
.numberGuessingDiv {
  border: none;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
  max-width: 350px;
}

.safeToGo {
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.boomDsp {
  color: #ed9d7e;
}

.numGuessHint {
  font-size: 20px;
  font-weight: 800;
  border-radius: 5px;
  background-color: rgb(240, 237, 235);
  color: black;
  margin: 10px;
  border: white solid 2px;
  text-align: center;
  padding: 10px;
}
.guessBtn {
  transition: 500ms;
  transition: all;
  display: inline-block;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: solid green 2px;
  color: green;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  margin: 10px;
}
.guessBtn:hover {
  transition: 500ms;
  transition: all;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: solid red 3px;
  color: rgb(201, 102, 52);
  border-radius: 5px;
  font-size: 22px;
  background-color: white;
  box-shadow: rgb(189, 186, 186) 3px 3px;
  margin: 10px;
}

.restartBtn {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 100px;
  font-size: 18px;
  color: black;
  border: solid rgb(128, 126, 126);
  margin: 5px;
}
.restartBtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  width: 100px;
  color: white;
  border: solid rgb(191, 191, 191);
  transition: 300ms;
  font-size: 20px;
  box-shadow: grey 5px 5px;
}

.numberGuessingHint {
  color: rgb(0, 0, 0);
}

.numberGuessingHint:hover {
  text-decoration: underline;
  transition: all;
  animation-duration: 3000ms;
  color: rgb(237, 111, 49);
}

/*----------------------------------Counter----------------------------------*/
.counterDiv {
  border: solid black;
  max-width: 200px;
}
.counterBtn {
  display: inline-block;
  border: solid black 2px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.counterBtn:hover {
  display: inline-block;
  border: solid black;
  background-color: black;
  color: white;
  transition: 350ms;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgb(189, 186, 186) 3px 3px;

  /* cursor: pointer; */
}
.counterDisplay {
  display: inline-block;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid grey;
  color: white;
  background-color: black;
}
.counterDisplay:hover {
  display: inline-block;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: solid black;
  background-color: white;
  color: black;
  transition: 350ms;
  font-size: 60px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}
.countHint {
  font-size: 10px;
  display: flex;
}
.numOfStep {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border: solid black 3px;
  padding: 5px;
  border-radius: 5px;
}
.numOfStep:hover {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border: solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  transition: 350ms;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}
/*----------------------------------Card Shuffle----------------------------------*/

.card {
  box-sizing: border-box;
  background: white;
  width: 170px;
  height: 300px;
  padding: 10px;
  border-radius: 15%;
}

.card:hover .remove-card {
  background-color: lightgray;
}

.card div {
  text-align: center;
  padding: 1em;
  margin-bottom: 1.5em;
}

.cardShuffleDiv {
  max-width: 1100px;
  width: 60%;
  margin: 0.6em auto;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
}

.eachCard {
  box-sizing: border-box;
  background: white;
  width: 100px;
  height: auto;
  padding: 5px;
  border-radius: 15px;
  border: black 5px;
}

.eachCard:hover .remove-card {
  background-color: lightgray;
}

.removeCard {
  font-size: 1em;
  border: dashed red;
  outline: none;
  color: #ef5350;
  cursor: pointer;
  margin: 0 0px 0 0;
  padding: 0;
  background: none;
}

/*----------------------------------Interest Card----------------------------------*/

/*----------------------------------Weather----------------------------------*/
