.arcadeDiv {
  justify-items: start;
  align-items: start;
  border: solid black;
  width: 100%;
  margin: 20px 0;
  padding: 10px 10px;
}

.commentBtn {
  border: black solid 3px;
  margin: 10px;
  font-size: 20px;
}

.commentBtn:hover {
  border: grey solid 3px;
  font-size: 24px;
  background-color: rgb(238, 130, 91);
  margin: 10px;
  transition: 200ms;
}

.arcadeFluid {
  @media (max-width: 1280px) {
    display: grid;
    grid-template-columns: 3;

    /* .arcadeFluid {
    display: grid;
  }
  .clockFluid {
    grid-column: 2;
    grid-row: 2;
  }
  .NGFluid {
    grid-column: 4;
    grid-row: 6;
  }
  .counterFluid {
    grid-column: 3;
    grid-row: 4;
  }
  .diceFluid {
    grid-column: 3;
    grid-row: 2;
  } */
  }
}

@media (max-width: 768px) {
  .arcadeFluid {
    display: grid;

    grid-template-columns: 2;
    /* display: flex;
    flex-wrap: wrap; */
  }
}

@media (max-width: 400px) {
  .arcadeFluid {
    display: flex;
    flex-wrap: wrap;
    /* display: flex;
    flex-wrap: wrap; */
  }
}
