/* --------------------------style for use----------------------------------------------------------------- */

.theme1 {
  background-color: rgb(43, 62, 87);
}
.theme1font {
  color: rgb(43, 62, 87);
}
.theme2 {
  background-color: rgba(103, 126, 150);
}

.theme2font {
  color: rgb(103, 126, 150);
}

.theme3 {
  background-color: rgb(156, 149, 146);
}

.theme3font {
  color: rgb(156, 149, 146);
}
.theme4 {
  background-color: rgb(226, 216, 216);
}

.theme4font {
  color: rgb(226, 216, 216);
}

.smPlaceholder::placeholder {
  font-size: 12px;
  text-align: center;
}

.Xcenter {
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.Ycenter {
  align-items: center;
  align-self: center;
  align-content: center;
}

.dropdown-item {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}
.dropdown-item:hover {
  background-color: rgb(147, 147, 147);
  color: rgb(71, 71, 71);
}

/* ------------------------type of element------------------------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
  max-width: 100%;
}
body {
  font-family: "Courier", "Courier New", "Georgia", "Times New Roman", serif;
  background-color: black;
  overflow-x: none;
}

/* --------------------------class of part----------------------------------------------------------------- */

/*--------------------------ID----------------------------*/

#aboutPageDiv {
  min-height: 100vh;
}

#landingPage {
  min-width: 100vw;
  min-height: 100vh;
}

#homeP2 {
  min-width: 100vw;
  min-height: 100vh;
}

#homeP3 {
  min-width: 100vw;
  min-height: 100vh;
}

#mainContent {
  min-height: 100vh;
}

/* #homeIntroBox {
  width: 250px;
  height: 250px;
  padding: 100px;
  max-width: 90%;
} */

#dClockDiv {
}

#standardNav {
}

#headerName {
  font-size: 1.5rem;
}

#footerDiv {
  z-index: 9999;
  min-width: 100%;
}

#homeNameTitle {
  font-size: 1.5rem;
  padding: 1.5rem;
}

#homeTitleTitle {
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#homeIntroPara {
  font-size: 1rem;
  padding: 2rem;
  justify-self: center;
  justify-content: center;
  justify-self: center;
  text-align: justify;
  justify-items: center;
}

#homeArcadeDiv {
  max-block-size: 1000px;
  overflow-y: auto;
}

#diceRollerDiv {
  max-width: 90%;
}

#counterDiv {
  max-width: 90%;
}

#restaurantDecideDiv {
  max-width: 90%;
}

/*Gallery ID*/

#galleryIntroPage {
  min-height: 90vh;
}

#galleryImg {
  min-width: 100vw;
  max-height: 120vh;
}
#galleryIntroPara {
  max-width: 70%;
  text-align: justify;
}

#galleryQRpage {
  min-height: 70vh;
}

/*about*/
#aboutPageDiv {
  min-height: 100vh;
  min-width: 100vw;
}
#aboutParaDiv {
  justify-content: center;
  justify-self: center;
  text-align: center;
  justify-items: center;
  min-height: 100vh;
}

#aboutPara1 {
  max-width: 80%;
  justify-self: center;
}
