/* --------------------------style for use----------------------------------------------------------------- */

.theme1 {
  background-color: rgb(43, 62, 87);
}
.theme1font {
  color: rgb(43, 62, 87);
}
.theme2 {
  background-color: rgba(103, 126, 150);
}

.theme2font {
  color: rgb(103, 126, 150);
}

.theme3 {
  background-color: rgb(156, 149, 146);
}

.theme3font {
  color: rgb(156, 149, 146);
}
.theme4 {
  background-color: rgb(226, 216, 216);
}

.theme4font {
  color: rgb(226, 216, 216);
}

.smPlaceholder::placeholder {
  font-size: 12px;
  text-align: center;
}

.Xcenter {
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.Ycenter {
  align-items: center;
  align-self: center;
  align-content: center;
}

/* ------------------------type of element------------------------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
  max-width: 100%;
}
body {
  font-family: "Courier", "Courier New", "Georgia", "Times New Roman", serif;
  background-color: black;
}

/* --------------------------class of part----------------------------------------------------------------- */

.eduCardDiv {
}
/*--------------------------ID class----------------------------*/

#landingPageDiv {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../Frontend/src/assets/gallery/picself2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#homeP2 {
  min-width: 100vw;
  min-height: 100vh;
}

#homeP2Main {
  z-index: 3;
}

#homeP3 {
  min-width: 100vw;
  min-height: 100vh;
}

#mainContent {
  min-height: 100vh;
}

/* #homeIntroBox {
  width: 250px;
  height: 250px;
  padding: 100px;
  max-width: 90%;
} */

#digitalClock {
  background-color: rgba(0, 0, 0, 0.436);
  display: inline-block;
  padding: 3%;
  border-radius: 10px;
}

/*header*/

#homeNameTitle {
  font-size: 1.5rem;
  padding: 1.5rem;
}

#homeTitleTitle {
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#homeIntroPara {
  font-size: 1rem;
  padding: 2rem;
  justify-self: center;
  justify-content: center;
  justify-self: center;
  text-align: justify;
  justify-items: center;
}

#homeArcadeDiv {
  max-block-size: 1000px;
  overflow-y: auto;
}

#diceRollerDiv {
  max-width: 90%;
}

#counterDiv {
  max-width: 90%;
}

#restaurantDecideDiv {
  max-width: 90%;
}

/*Education ID*/
#eduDiv {
}

/*Experience ID*/
#expDiv {
}

/*Gallery ID*/

.galleryIntroPage {
  min-height: 90vh;
}

.galleryImg {
  min-width: 100vw;
  max-height: 120vh;
}
.galleryIntroPara {
  max-width: 70%;
  text-align: justify;
}

.galleryQRpage {
  min-height: 70vh;
}

/*cert*/
.listModeCertDiv {
  max-height: 40rem;
  margin: 1.8rem;
}
.certDiv {
  max-width: 1000px;
  justify-content: center;
  text-align: center;
  justify-items: center;
  justify-self: center;
  display: inline-block;
}

/*about*/
.aboutPageTitle {
  /* background-color: rgba(0, 0, 0, 0.493); */
  padding: 1.2rem;
  border-radius: 10px;
  text-shadow: 3px 4px 5px rgb(103, 101, 101);
}
.aboutPageDiv {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../../Frontend/src/assets/gallery/picself.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#aboutParaDiv {
  justify-content: center;
  justify-self: center;
  text-align: center;
  justify-items: center;
  min-height: 100vh;
}

.aboutCoverLayer {
  background-image: url("../../Frontend/src/assets/gallery/picself.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aboutPara1 {
  max-width: 80%;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.593);

  padding: 1.8rem;
  border-radius: 10px;
  text-shadow: 3px 4px 5px rgb(103, 101, 101);
}

.aboutPara2 {
  max-width: 80%;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.593);

  padding: 1.8rem;
  border-radius: 10px;
  text-shadow: 3px 4px 5px rgb(103, 101, 101);
}

/*header and footer*/
#header {
}

#headerTitle {
  display: block;
}

#headerName {
  font-size: 1.5rem;
  display: inline-block;
}
#headerName:hover {
  font-size: 1.7rem;
  display: inline-block;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.shrinkNavToggle:hover {
  scale: 1.4;
  display: inline-block;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.standardNavBtn:hover {
  scale: 1.4;
  transform-origin: right;
  transition-duration: 0.5s;
}

.shrinkNavBtn {
  padding-top: 0.2rem;
}
.shrinkNavBtn:hover {
  transition-duration: 0.5s;
}

.dropdown-item {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}
.dropdown-item:hover {
  background-color: rgb(147, 147, 147);
  color: rgb(111, 111, 111);
  scale: 1.1;
}

.dropdown-item:active {
  background-color: rgb(103, 103, 103);
  color: rgb(163, 179, 255);
}

.footerDiv {
  z-index: 9999;
  min-width: 100%;
}
