@media (min-width: 0px) {
  .navBar {
    display: none;
    visibility: hidden;
  }
  #shrinkNavBar {
    visibility: visible;
    display: block;
  }

  .navBtn {
    font-size: xx-small;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
@media (min-width: 450px) {
  .navBar {
    display: none;
    visibility: hidden;
  }
  #shrinkNavBar {
    visibility: visible;
    display: block;
  }
  .navBtn {
    font-size: xx-small;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
}

@media (min-width: 640px) {
  .navBar {
    display: none;
    visibility: hidden;
  }
  #shrinkNavBar {
    visibility: visible;
    display: block;
  }
  .navBtn {
    font-size: x-small;
    margin-left: 0.45rem;
    margin-right: 0.45rem;
  }
}

@media (min-width: 800px) {
  .navBar {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
  }
  #shrinkNavBar {
    display: none;
  }
  .navBtn {
    font-size: small;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
}

@media (min-width: 1280px) {
  .navBar {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
  }
  #shrinkNavBar {
    display: none;
  }
  .navBtn {
    font-size: small;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

body {
  /* margin: 0;
  padding: 0; */
  font-family: "Courier", "Courier New", "Georgia", "Times New Roman", serif;
  min-height: 70vh;
  height: 100vh;
  width: 100vw;
  background: black;
  min-width: 400px;
  max-width: 2000px;
}
.bodyContainer {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  width: 100%;
}

.theme1 {
  background-color: rgb(43, 62, 87);
}
.theme1font {
  color: rgb(43, 62, 87);
}
.theme2 {
  background-color: rgba(103, 126, 150);
}

.theme2font {
  color: rgb(103, 126, 150);
}

.theme3 {
  background-color: rgb(156, 149, 146);
}

.theme3font {
  color: rgb(156, 149, 146);
}
.theme4 {
  background-color: rgb(226, 216, 216);
}

.theme4font {
  color: rgb(226, 216, 216);
}

/* @import "bootstrap/scss/bootstrap"; */
/*for arcade card shuffle*/
/*end of for card shuffle*/
/*edu card*/
