/* ------------------- animation ------------------- */
@keyframes headerTitleMove {
  0% {
    left: -20vw;
  }
  50% {
    left: -10vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes clockMove {
  0% {
    /* background-color: red; */
    left: 100vw;
    top: 0px;
    scale: 1;
  }
  60% {
    left: -5vw;
    top: 0px;
    scale: 1;
  }

  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}

@keyframes clockMove2 {
  0% {
    left: 0vw;
    top: 0px;
    scale: 0.4;
  }

  60% {
    left: 0;
    top: 0px;
    scale: 1.1;
  }

  100% {
    left: 0px;
    top: 0px;
    scale: 1;
    opacity: 100%;
  }
}

@keyframes introBoxMove {
  0% {
    /* background-color: red; */
    left: -100vw;
    top: 0px;
    scale: 1;
  }

  60% {
    left: 5vw;
    top: 0px;
    scale: 1;
  }

  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}

@keyframes introBoxMove2 {
  0% {
    /* background-color: red; */
    bottom: -10vw;
    scale: 1;
    opacity: 50%;
    /* transition-delay: 3s; */
  }

  50% {
    bottom: 1vw;
    scale: 1;
  }
  65% {
    bottom: -0.75vw;
    scale: 1;
  }
  80% {
    bottom: 0.5vw;
    scale: 1;
  }
  90% {
    bottom: -0.25vw;
    scale: 1;
  }

  100% {
    /* background-color: red; */
    bottom: 0px;
    opacity: 100%;
  }
}

@keyframes shrinkNavBtnMove {
  0% {
    left: 10vw;
  }
  50% {
    left: 5vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes cardDivAnimation {
  0% {
    left: 50vw;
  }
  /* 20% {
    left: 80vw;
  }
  40% {
    left: 60vw;
  }
  60% {
    left: 40vw;
  }
  80% {
    left: 20vw;
  } */
  80% {
    left: -2vw;
  }
  90% {
    left: +1vw;
  }

  100% {
    left: 0vw;
  }
}

@keyframes cardDivAnimation2 {
  0% {
    scale: 0.8;
  }
  50% {
    scale: 1.1;
  }
  70% {
    scale: 0.95;
  }
  80% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

@keyframes cardDivAnimation3 {
  0% {
    transform: rotateY(90deg);
  }
  /* 50% {
    scale: 1.1;
  }
  70% {
    scale: 0.95;
  }
  80% {
    scale: 1.05;
  } */
  100% {
    transform: rotateY(0);
  }
}

@keyframes cardDivAnimation4 {
  0% {
    scale: 1;
  }
  /* 50% {
    scale: 1.1;
  }
  70% {
    scale: 0.95;
  }
  80% {
    scale: 1.05;
  } */
  100% {
    scale: 1.2;
  }
}

@keyframes cardDivAnimation5 {
  0% {
    scale: 0.4;
  }
  /* 50% {
    scale: 1.1;
  }
  70% {
    scale: 0.95;
  }
  80% {
    scale: 1.05;
  } */
  100% {
    scale: 1;
  }
}

@keyframes pageTitleAnimation {
  0% {
    transform: translateY(-20px);
    opacity: 50%;
  }
  100% {
    top: 0;
    transform: translateY(0px);

    opacity: 100%;
  }
}

@keyframes pageTitleAnimation2 {
  0% {
    transform: translateX(20px);
    opacity: 50%;
  }
  100% {
    transform: translateX(0px);

    opacity: 100%;
  }
}

@keyframes titleDisapperAnimation {
  /* 0% {
    opacity: 50%;
    top: 20px;
  }
  50% {
    opacity: 100%;
    top: 0px;
  }
  100% {
    opacity: 500%;
    top: -20px;
  } */
  to {
    opacity: 50%;
    top: 20px;
  }
}

@keyframes scrollIndicator {
  0% {
    scale: 0 1;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes navBtnAnimation {
  0% {
    transform: translateY(-20px);
    opacity: 20%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes generalAppearAnimation {
  0% {
    transform: translateY(-60px);
    opacity: 2 0%;
    scale: 0.8;
  }
  50% {
    transform: translateY(0px);
    opacity: 100%;
    scale: 1;
  }
  100% {
    transform: translateY(-60px);
    opacity: 20%;
    scale: 0.9;
  }
}

@keyframes homeTitleTileAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 20%;
    scale: 0.8;
  }

  40% {
    transform: translateY(0px);
    opacity: 100%;
    scale: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 56%;
    scale: 1;
  }
}

@keyframes galleryQRAnimation {
  to {
    opacity: 100%;
    transform: translateY(0);

    top: 0px;
  }
}
/* ------------------- class ------------------- */
.homeNameTitle {
  animation-name: navBtnAnimation;
  animation-timeline: view();
  animation-fill-mode: both;
}
#galleryQR {
  animation-name: galleryQRAnimation;
  animation-timeline: view();
  opacity: 0%;
  transform: translateY(200px);
}
.eduCardDiv {
  animation-name: generalAppearAnimation;
  animation-timing-function: ease-in-out;
  animation-timeline: view();
  /* animation-duration: 0.4s; */
  /* animation-delay: 1s; */
  animation-fill-mode: both;
}

.homeTitleTitle {
  animation-name: homeTitleTileAnimation;
  animation-timing-function: linear;

  animation-timeline: view();
  animation-fill-mode: both;
  /* animation-duration: 0.4s; */
  /* animation-delay: 1s; */
}

.expCardDiv {
  animation-name: generalAppearAnimation;
  /* animation-delay: 1s; */
  animation-timing-function: linear;
  animation-timeline: view();
  animation-fill-mode: both;
  animation-fill-mode: both;
}

.projectCardDiv {
  animation-name: cardDivAnimation;
  animation-timing-function: scroll();
  animation-duration: 0.6s;
  animation-delay: 0s;
  animation-fill-mode: both;
}

.skillCardDiv:hover {
  animation-name: cardDivAnimation4;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-fill-mode: both;
}

#headerDiv {
  animation-name: clockMove2;
}
#headerTitle {
  animation-name: clockMove2;
}

#dClockDiv {
  animation-name: clockMove2;
  animation-duration: 0.8s;
  background-color: black;
}

.shrinkNavBtn {
  animation-name: shrinkNavBtnMove;
  animation-duration: 0.5s;
}
#introBox {
  position: relative;
  animation-name: introBoxMove2;
  animation-duration: 0.8s;
  background-color: black;
}

.certCarousel {
  animation-name: cardDivAnimation3;
  animation-timing-function: linear;
  /* animation-timeline: scroll(); */
  animation-duration: 0.3s;
  animation-delay: 0s;
}

.scrollIndicator {
  height: 0.2vh;
  top: 0px;
  z-index: 100;
  background-color: white;
  width: 100%;
  animation-name: scrollIndicator;
  animation-timeline: scroll();
  scale: 0 1;
  animation-timing-function: linear;
}

.galleryCarouselDiv {
  animation-duration: 0.5s;
  /* animation-delay: 0.3s; */
  animation-fill-mode: both;
  animation-name: cardDivAnimation3;
}

.pageTitle {
  animation-name: pageTitleAnimation;
  animation-duration: 0.5s;
}

.pageTitle2 {
  animation-name: pageTitleAnimation2;
  animation-duration: 0.5s;
}

.navBtn {
  animation-name: navBtnAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: after;
}

#certModeButton {
  opacity: 0;
  animation-name: clockMove2;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
