@media (min-width: 0px) {
  body {
    max-width: 100%;
  }
  .bigNav {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    column-gap: 6px;
  }

  .homeTitleTitle {
    font-size: 12px;
    max-width: 60vw;
    text-align: center;
  }

  /* html {
    width: 100%;
  }
  .homeTitleTitle {
    font-size: 14px;
    min-width: 380px;
    max-width: 380px;
  }
  .galleryIntroPara {
    transform: translateY(200px);
    font-size: 12px;
    min-width: 380px;
  }

  .bigNav {
    display: flex;
    flex-wrap: wrap;
  }

  .smallNavSet {
    display: none;
  }

  .navBtn {
    font-size: 8px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  #homeArcadeDiv {
    min-width: 400px;
  }
  #digitalClock {
    min-width: 350px;
  }
  #skillsDiv {
    min-width: 400px;
  }
  #galleryCarousel {
    min-width: 400px;
  }

  .eduCardDetail {
    min-width: 400px;
  }

  #headerDiv {
    min-width: 450px;
  }

  #footerDiv {
    min-width: 450px;
  } */
}
/*________________________________________________________________*/
@media (min-width: 450px) {
  body {
    max-width: 100%;
  }
  .bigNav {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    column-gap: 6px;
  }

  .homeTitleTitle {
    font-size: 12px;
    max-width: 50vw;
  }
  /* .homeTitleTitle {
    font-size: 16px;
    min-width: 380px;
    max-width: 380px;
  }
  .galleryIntroPara {
    transform: translateY(170px);
    font-size: 15px;
    min-width: 400px;
  }

  html {
    width: 100%;
  }
  .bigNav {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
  }

  .smallNavSet {
    display: hidden;
  }

  .navBtn {
    font-size: xx-small;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  #homeArcadeDiv {
    min-width: 400px;
  }
  #digitalClock {
    min-width: 400px;
  }
  #skillsDiv {
    min-width: 400px;
  }
  #galleryCarousel {
    min-width: 400px;
  }
  .eduCardDetail {
    min-width: 400px;
  }
  #footerDiv {
    min-width: 450px;
  } */
}
/*________________________________________________________________*/

@media (min-width: 640px) {
  body {
    max-width: 100%;
  }
  .bigNav {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    column-gap: 6px;
  }

  .homeTitleTitle {
    font-size: 12px;
    max-width: 50vw;
  }
  /* html {
    width: 100%;
  }
  .homeTitleTitle {
    font-size: 17px;
    min-width: 380px;
    max-width: 380px;
  }
  .galleryIntroPara {
    transform: translateY(170px);
    font-size: 16px;
    min-width: 500px;
  }
  .bigNav {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
  }

  .smallNavSet {
    display: none;
  }

  .navBtn {
    font-size: xx-small;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  #homeArcadeDiv {
    min-width: 400px;
  }
  #digitalClock {
    min-width: 400px;
  }
  #skillsDiv {
    min-width: 400px;
  }
  #galleryCarousel {
    min-width: 400px;
  }
  .eduCardDetail {
    min-width: 400px;
  } */
}
/*________________________________________________________________*/

@media (min-width: 768px) {
  body {
    max-width: 100%;
  }
  .bigNav {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    column-gap: 6px;
  }

  .homeTitleTitle {
    font-size: 12px;
    max-width: 50vw;
  }
  /* .homeTitleTitle {
    font-size: 17px;
    min-width: 600px;
    max-width: 600px;
  }
  .galleryIntroPara {
    transform: translateY(130px);
    font-size: 16px;
    min-width: 600px;
  }
  .bigNav {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
  }
  .smallNavSet {
    display: none;
  }

  .navBtn {
    font-size: small;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  #digitalClock {
    min-width: 400px;
  }
  #galleryCarousel {
    min-width: 400px;
  } */
}

/*________________________________________________________________*/
@media (min-width: 1024px) {
  body {
    max-width: 100%;
  }
  .bigNav {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    column-gap: 6px;
  }

  .homeTitleTitle {
    font-size: 12px;
    max-width: 50vw;
  }
}

/*________________________________________________________________*/

@media (min-width: 1280px) {
  body {
    max-width: 100%;
  }
  .bigNav {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    column-gap: 6px;
  }

  .homeTitleTitle {
    font-size: 12px;
    max-width: 50vw;
  }
  /* .galleryIntroPara {
    transform: translateY(100px);
    font-size: 18px;
    min-width: auto;
  }
  .bigNav {
    visibility: visible;
    display: block;
    flex-wrap: wrap;
  }

  .navBtn {
    font-size: small;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }
  #digitalClock {
    min-width: 400px;
  }
  #skillsDiv {
    min-width: 400px;
  }
  #galleryCarousel {
    min-width: 400px;
  }
  .smallNavSet {
    display: none;
  } */
}

/*________________________________________________________________*/
@media (min-width: 1024px) {
  body {
    max-width: 100%;
  }
  .bigNav {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    column-gap: 6px;
  }

  .homeTitleTitle {
    font-size: 12px;
    max-width: 50vw;
  }
}
